<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="style.css">

    
</head>

<body>
    
    <!-- <img src="./img/projectBangunan.jpg" alt="this is some project picture" width="50%" height="30%"> -->
    <div class="container">
        <%- body %>
    </div>
    <%- include('nav') %>
   

</body>
   
       

</html>